[MESSAGES CONTROL]
# Disable import errors for packages not installed in CI
# Also disable warnings that exist in main branch (to be fixed in separate PR)
disable=import-error,
        no-name-in-module,
        no-member,
        broad-exception-caught,
        broad-exception-raised,
        logging-fstring-interpolation,
        raise-missing-from,
        global-statement,
        redefined-builtin,
        subprocess-run-check

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=88

[BASIC]
# Good variable names which should always be accepted
good-names=i,j,k,e,f,_

[DESIGN]
# Maximum number of instance attributes for a class
max-attributes=15
